/* lightbox section starts here, all the classes associated with it are here from 160 to 259*/
.lightBoxPicture {
    cursor: pointer;
    position: fixed;
    z-index: 2;
    width: 100vw;
    min-height: 100vh;
    left: 0px;
    right: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
}

.squareLightBox {
    justify-content: center;
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 2;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;

}

.squareLightBoxMainImg{
    position: absolute;
    z-index: 2;
    width: 450px;
    height: 450px;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 10px;
}

.closeLightBox {
    position:absolute;
    right: 25px;
    top: -5px;
    color: white;
}

.closeLightBox:hover {
    color: orange;
}

.closeLightBox::after {
    content: "\00d7";
    font-weight: bold;
    font-size: 30px;
}

.imgButtonsLightbox {
    z-index: 2;
    display: inline-block;
}
.lightBoxPreviewsImg::after {
    content: "\003c";
    font-size: 30px;
    font-weight: bold;
}

.lightBoxNextImg::after {
    content: "\003e";
    font-size: 30px;
    font-weight: bold;
}

.imgButtonsLightBox .lightBoxPreviewsImg {
    position: absolute;
    left: 2px;
}

.lightBoxNextImg, .lightBoxPreviewsImg {
    background-color:white;
    border: 2px solid white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: black;
    text-align: center;
    line-height: 40px;
    top: 230px;
    z-index: 2;
}

.imgButtonsLightBox .lightBoxNextImg {
    position: absolute;
    right: 2px;
}

.thumbnailLightBox {
    grid-template-columns: 20% 20% 20% 20%;
    display: grid;
    justify-content: space-evenly;
    position: absolute;
    height: 100px;
    width: 450px;
    z-index: 2;
    top: 500px;
    left: 5%;
    right: 5%;
}

.fourLightBoxImgs {
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.fourLightBoxImgs:hover {
    border: 2px solid orange;
}


/*lightbox ends here */
